In [1]:
import pandas as pd

In [ ]:
#EJERCICIO DE EJEMPLO DE LAS DIAPOSITIVAS
#AQUÍ (MAIN2.IPYNB)  ESTÁN ALGUNAS PRUEBAS HECHAS SOBRE EL DF
#EN (UBER_APP2) ESTÁ EL CÓDIGO PARA VERLO DESDE STRAMLIT

In [2]:
df = pd.read_csv("https://s3-us-west-2.amazonaws.com/streamlit-demo-data/uber-raw-data-sep14.csv.gz")

In [3]:
df.head()

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [4]:
df.shape

(1028136, 4)

In [6]:
nrows=1028136

df = (
    pd.read_csv("https://s3-us-west-2.amazonaws.com/streamlit-demo-data/uber-raw-data-sep14.csv.gz", nrows=nrows)
    .rename(columns= lambda x: x.lower())
    .assign(
        datetime = lambda df: pd.to_datetime(df["date/time"]),
        date = lambda df: df["datetime"].dt.date,
        weekday = lambda df: df["datetime"].dt.day_name(),
        hour = lambda df: df["datetime"].dt.hour, 
    )
)

In [7]:
weekday_selected = "Monday"  
hour_selected = 12

(
    df
    .loc[lambda df: df["weekday"]== weekday_selected]
    .loc[lambda df: df["hour"]== hour_selected]
)

,date/time,lat,lon,base,datetime,date,weekday,hour
177,9/1/2014 12:01:00,40.7088,-73.9210,B02512,2014-09-01 12:01:00,2014-09-01,Monday,12
178,9/1/2014 12:01:00,40.7179,-74.0146,B02512,2014-09-01 12:01:00,2014-09-01,Monday,12
179,9/1/2014 12:05:00,40.7701,-73.9832,B02512,2014-09-01 12:05:00,2014-09-01,Monday,12
180,9/1/2014 12:07:00,40.7683,-73.9848,B02512,2014-09-01 12:07:00,2014-09-01,Monday,12
181,9/1/2014 12:08:00,40.7496,-73.9834,B02512,2014-09-01 12:08:00,2014-09-01,Monday,12
...,...,...,...,...,...,...,...,...
1016642,9/29/2014 12:58:00,40.7614,-73.9754,B02764,2014-09-29 12:58:00,2014-09-29,Monday,12
1016643,9/29/2014 12:58:00,40.7185,-73.9864,B02764,2014-09-29 12:58:00,2014-09-29,Monday,12
1016644,9/29/2014 12:58:00,40.7116,-73.9572,B02764,2014-09-29 12:58:00,2014-09-29,Monday,12
1016645,9/29/2014 12:58:00,40.7277,-74.0016,B02764,2014-09-29 12:58:00,2014-09-29,Monday,12
1016646,9/29/2014 12:59:00,40.7482,-73.9881,B02764,2014-09-29 12:59:00,2014-09-29,Monday,12

In [ ]:
#Mean_pickups_by_weekday
(
        df
        .loc[lambda df: df["weekday"] == weekday_selected]
        .groupby("date")
        .size()
        .mean()   
)

27457.6

In [11]:
#Global_mean_pickups
(
    df
    .groupby(["date"])
    .size()
    .mean()
)

34271.2

In [ ]:
(
    df
    .loc[lambda df: df["weekday"]== weekday_selected]
)